h1{color: brown;}

a{color: darkcyan;
text-decoration: line-through;}

h1 + p{background-color:pink;
padding:20px;
border:10px;}

ul>li{font-weight: bold;}

body{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color: blueviolet;
color: chartreuse;}

a:hover{color: coral;}

ul>li{font-weight: bold;}

ul li :hover{color:green;}

ul li:nth-child(2){background-color: black;}

p:not(:last-of-type){text-decoration: overline;}

ul li::before{content:"67";}

a::after{content:"89";}

p::first-letter{font-size: 100px; ;
color: yellow ;
font-weight: bold;}

